#patients= @patients

%h1
  System Status
  %span.server-time= @server_time.strftime("%D %H:%M")
  %span{:style=>"float:right;"}= link_to 'Home', root_path

%hr

#requests
  = render :partial => "requests"
